#booking-table-header{
    background-color: #d9d9d9;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
th, td{
    padding:10px;
    border:1px solid black;
    text-align:left;
}
th{
    background-color: #f4f4f4;
}
td {
    background-color: #fff;
}

#firstNameInput {
    width: 200px;
    padding-left: 5px;
    color: black !important;
}

input::placeholder {
    color: black;
    opacity: 1;
}

#surnameInput {
    width: 200px;
    padding-left: 5px;
    color: black !important;
}

#countrySelect{
    width: 200px;
}
#locationSelect{
    width: 200px;
}

.addBookingButton{
    height: 50px;
    font-family: 'Poppins-SemiBold', 'sans-serif';
    background-color: #000000;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 200px;
}

.deleteButton{
    cursor:pointer;
    font-size:16px;
    padding:10px;
    border-radius:5px;
    margin-left:5px;
}

.deleteButton:hover{
    background-color: #efefef;

}

#booking-content{
    margin-top:50px;
    padding-left:15px;
    width:100%;
}
#active-bookings{
    margin-top:30px;
}

#booking-header{
    background-color: #fbfbfb;
    padding: 15px;
}

#new-booking-form{
    display:flex;
    width:100%;
}
#new-booking-form input{
    margin-right:10px;
    height: 47px;
    padding:1px;
}

#new-booking-form input{
    height: 47px;
    padding:1px;
}
#new-booking-form input[placeholder]{
    padding-left:5px;
    color:black;
}
select{
    height: 51px;
    padding:1px;
    margin-right:10px;
}

