#booking-table-header{
    background-color: #d9d9d9;
}
#bookings-main-content-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 20px;
}

.price{
    margin-top:50px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
th, td{
    padding:10px;
    border:1px solid black;
    text-align:left;
}
th{
    background-color: #f4f4f4;
}
td {
    background-color: #fff;
}

#firstNameInput {
    width: 200px;
    padding-left: 5px;
    color: black !important;
}

input::placeholder {
    color: black;
    opacity: 1;
}

#surnameInput {
    width: 200px;
    padding-left: 5px;
    color: black !important;
}

#countrySelect{
    width: 200px;
}
#locationSelect{
    width: 200px;
}

.addBookingButton{
    height: 50px;
    font-family: 'Poppins-SemiBold', 'sans-serif';
    background-color: #000000;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 200px;
}

.deleteButton{
    cursor:pointer;
    font-size:16px;
    padding:10px;
    border-radius:5px;
    margin-left:5px;
}

.deleteButton:hover{
    background-color: #efefef;

}

#booking-content{
    margin-top:50px;
    padding-left:15px;
    width:100%;
}
#active-bookings{
    margin-top:30px;
}

#booking-header{
    background-color: #fbfbfb;
    padding: 15px;
    display:flex;
    flex-direction:column;
}

#new-booking-form{
    display:flex;
    width:100%;
    flex-direction: row;
}
#new-booking-form input{
    margin-right:10px;
    height: 47px;
    padding:1px;
}

#new-booking-form input{
    height: 47px;
    padding:1px;
}
#new-booking-form input[placeholder]{
    padding-left:5px;
    color:black;
}
select{
    height: 51px;
    padding:1px;
    margin-right:10px;
}

/* MOBILE */
@media (max-width: 600px) {
    #booking-content {
        padding: 0;
        margin-top:10px;
    }

    #booking-header {
        display: flex;
        flex-direction: column;
    }

    #new-booking-form {
        flex-direction: column;
    }
    #new-booking-form input,
    #new-booking-form select,
    .addBookingButton {
        width: 100%;
        margin-bottom: 10px;
        margin-top:10px;
        box-sizing: border-box;
    }
    #active-bookings{
        padding:15px;
        margin-top:5px;
        margin-bottom:20px;
    }
}


