.book-details-wrapper{
    max-width:1500px;
    display:flex;
    flex-direction:row;
    gap:70px;
    padding:50px;
    border: #dadada 1px solid;
    border-radius:5px;
    margin-top:30px;
}
.location-main{

}
.location-header-items{
    display:flex;
    justify-content:space-between;
}
.ratingIcon{
    margin-left:9px;
}

#locationName{
    margin-bottom:10px;
}
.location-meta{
    margin-top:7px;
}
.locationIcon{
    margin-right:9px;
}
.calendarIcon{
    margin-right:9px;
    margin-left:5px;
}

.location-image-placeholder{
    position:relative;
    width:500px;
    border-radius:12px;
    overflow:hidden;
}

.location-image-placeholder img{
    width:100%;
    display:block;
    border-radius:12px;
    object-fit:cover;
}

.badge{
    position:absolute;
    top:10px;
    right:10px;
    background-color:white;
    color:black;
    font-size:0.75rem;
    font-weight: 600;
    padding: 8px 13px;
    border-radius:20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.price{
    font-size:30px;
    margin:0px;
}
.per-person{
    font-size:18px;
}
.booking-sidebar{
    border: #dadada 1px solid;
    border-radius:5px;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:50px;
    margin-top:20px;
}
.booking-date-row{
    margin-top:10px;
}
#booking-date{
    margin-top:10px;
    width:95%;
}
#booking-people{
    margin-left:5px;
    margin-top:10px;
    width:95%;
}
#booking-people-row{
    margin-top:20px;
}
.price-summary{
    background-color:#f3f3f3;
    border-radius:10px;
    border:solid #919193 1px;
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
    width:95%;
}
.price-summary-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#total-price{
    margin-top:10px;
    margin-left:5px;
}
#total-price-figure{
    font-size:30px;
    margin-top:10px;
    margin-right:10px;
}

.price-breakdown{
    color:gray;
    margin:0px;
    margin-left:5px;
}
.book-now-button{
    font-family: 'Poppins-SemiBold', 'sans-serif';
    background-color: #000000;
    color: white;
    border-radius: 4px;
    height: 50px;
    width:98%;
}
.book-now-button:hover{
    font-family: 'Poppins-SemiBold', 'sans-serif';
    background-color: #0b0b0b;
    color: white;
    border-radius: 4px;
    height: 50px;
    cursor: pointer;
}
.cancellation-policy{
    font-size:15px;
    color:gray;
    display:flex;
    justify-content:center;
}