#account-main-content-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 20px;
}

#bookings-this-month{
    display:flex;
    flex-direction:column;
    border: #dadada 1px solid;
    border-radius:5px;
    flex:1;
    padding:20px;
    box-shadow: 4px 4px 30px 0 rgba(236, 236, 236, 0.25);

}
#bookings-this-month p{
    margin:3px;
    font-size:30px;
}
#country-bookings-this-month{
    display:flex;
    flex-direction:column;
    border: #dadada 1px solid;
    border-radius:5px;
    flex:1;
    padding:20px;
    box-shadow: 4px 4px 30px 0 rgba(236, 236, 236, 0.25);
    margin-left:20px;
}

#country-bookings-this-month p{
    font-size:30px;
}

#country-booking-count{
    margin:3px;
}


#account-location{
    margin-top:5px;
}
#account-name{
    margin-top:15px;
}

#bookings-performance{
    display:flex;
    flex:3;
    flex-direction:column;
    margin:20px;
}
#bookings{
    display:flex;
    flex-direction:row;
}


#total-bookings{
    display:flex;
    flex-direction:column;
    border: #dadada 1px solid;
    border-radius:5px;
    flex:1;
    padding:20px;
    box-shadow: 4px 4px 30px 0 rgba(236, 236, 236, 0.25);

}
#total-bookings p{
    margin:3px;
    font-size:30px;
}

#performance{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    border: #dadada 1px solid;
    border-radius:5px;
    height:100%;
    padding:20px;
    box-shadow: 4px 4px 30px 0 rgba(236, 236, 236, 0.25);
}
#performance-header{
    margin-bottom:20px;
    margin-top:5px;
}

#agency-information{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    border: #dadada 1px solid;
    border-radius:5px;
    padding:20px;
    box-shadow: 4px 4px 30px 0 rgba(236, 236, 236, 0.25);
}
#agency-information-items{
    flex-direction:row;
    display:flex;
    flex-wrap:wrap;
}
.information-item{
    flex:1;
}
.information-item-header{
    font-family: 'Poppins-SemiBold', sans-serif;
}

#bookingCountProgress{
    width: 80%;
    background-color: #c0c0c0;
    border-radius:5px;
    height: 20px;
    position:relative;
}
#countryCountProgress{
    width: 80%;
    background-color: #c0c0c0;
    border-radius:5px;
    height: 20px;
    margin-top:70px;
    position:relative;
}
#country-count-performance-summary{
    margin-top:40px;
}

#bookingCountProgressBar{
    width:0;
    border-radius:5px;
    height: 20px;
    background-color:black;
    position:absolute;
    transition: width 2s ease;
}
#monthly-count-performance-summary{
    margin-top:40px;
    font-size:14px;
}
#country-count-performance-summary{
    font-size:14px;
}
#countryCountProgressBar{
     width:0;
     border-radius:5px;
     height: 20px;
     background-color:black;
     position:absolute;
     transition: width 2s ease;
 }
/* MOBILE */
@media (max-width: 600px){
    #bookings {
        flex-direction: column;
        width:100%;
        box-sizing:border-box;
    }
    #bookings-this-month,
    #country-bookings-this-month {
        width: 100%;
        margin: 0 0 15px 0;
        box-sizing:border-box;
    }

    #country-bookings-this-month {
        margin-left: 0;
        box-sizing:border-box;
    }
    #performance{
        min-height:260px;
        max-width:400px;
        margin-top:0px;
    }
    #agency-information-items{
        flex-direction:column;
        display:flex;
    }
    .content-items{
        flex-direction:column;
    }
    #profile, #bookings-performance, #agency-information{
        width: 100%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }
    #agency-information{
        margin-bottom:50px;
        margin-top:0;
    }
    #profile{
        margin-bottom:0;
    }
    #profile h3{
        margin: 0;
    }
    #information-item{
        max-width:350px;
    }
    #information-item-header{
        max-width:350px;
    }
    #agency-information p{
        font-size:0.9rem;
    }
}

/* TABLET */

@media (min-width: 601px) and (max-width:900px){
 #country-count-performance-summary{
     margin-top:30px;
 }
 h3{
     margin:0;
 }
 #agency-information{
     font-size:0.8rem;
 }
 #application-wrapper{
     height:100%;
 }
}